<TABLE cellpadding="3" WIDTH="100%">
	<TR class="light">
		<TD width="1%" class="fleftu">
			<IMG src="img/docum.gif" alt="">
		</TD>
		<TD width="1%" class="fbt" NOWRAP>
			<B>{trans("Rodzaj podłączenia:")}</B>
		</TD>
		<TD width="98%" class="frightu" NOWRAP>
		    <select name="document[installtype]">
		      <option value="domek-ftth">Domek FTTH</option>
		      <option value="blok-ftth">Blok FTTH</option>
		      <option value="blok-etth">Blok ETTH</option>
		    </select>
		</TD>
	</TR>
</TABLE>
